*.*
*
!*.md
!*.f90
!*.m
!*.txt
!*.tex
!*.csv
!*.xls
!*.xlsx
!*.bib
!*.sty
!*makefile
!*.sh
!*.ipynb
!.gitignore
!.gitattributes
!/kensingtonDataMatfiles/
!/kensingtonDataMatfiles/*.mat
!/kensingtonMCMC/
!/kensingtonET/
!/kensingtonTablesAndFigures/
!/kensingtonDataUSSPF/
!/matlabtoolbox/
!/matlabtoolbox/em*/
/kensington*/local*.m
!/kensingtonToolbox/
~*


todo.md
