*.*
*
!*.md
!*.f90
!*.m
!*.txt
!*.tex
listing*tex
old.tex
!*.csv
!*.xls
!*.xlsx
!*.bib
!*.sty
!*makefile
!*.sh
!*.ipynb
!.gitignore
!.gitattributes
!/kensingtonDataMatfiles/
!/kensingtonDataMatfiles/*.mat
!/kensingtonMCMC/
!/kensingtonET/
!/kensingtonTablesAndFigures/
!/kensingtonDataUSSPF/
!/matlabtoolbox/
!/matlabtoolbox/em*/
/kensington*/local*.m
!/kensingtonToolbox/
kensingtonTablesAndFigures/finishwrap.m
/kensingtonMCMC/finishwrap.m
/kensingtonET/CRPS_eval0.m
/kensingtonTablesAndFigures/prctileWeighted0.m
/kensingtonTablesAndFigures/prctileWeighted1.m
~*

kensingtonTablesAndFigures/OLDtabulateRelativeEvalstatsET.m
/kensingtonET/wprctile0.m
/kensingtonDataUSSPF/lagmatrix.m
