*.*
*
!*.md
!*.f90
!*.m
foo*.m
!*.txt
!*.tex
!*.csv
!*.xls
!*.xlsx
!*.bib
!*.sty
!*makefile
!*.sh
!*.ipynb
!.gitignore
!.gitattributes
!/matdataKensington/
!/matdataKensington/*.mat
!/mcmcKensington/
!/tablesandfiguresKensington/
!/rawdataKensington/
!/matlabtoolbox/em*/
/*Kensington/local*.m
